<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContAjoFournitures</servlet-name>
        <servlet-class>ContAjoFournitures</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContAjoFournitures</servlet-name>
        <url-pattern>/ContAjoFournitures</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContAjoGerant</servlet-name>
        <servlet-class>ContAjoGerant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContAjoGerant</servlet-name>
        <url-pattern>/ContAjoGerant</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContAjoMagasin</servlet-name>
        <servlet-class>ContAjoMagasin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContAjoMagasin</servlet-name>
        <url-pattern>/ContAjoMagasin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContFournitures</servlet-name>
        <servlet-class>ContFournitures</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContFournitures</servlet-name>
        <url-pattern>/ContFournitures</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContGerant</servlet-name>
        <servlet-class>ContGerant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContGerant</servlet-name>
        <url-pattern>/ContGerant</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContHelp</servlet-name>
        <servlet-class>ContHelp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContHelp</servlet-name>
        <url-pattern>/ContHelp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContMagasins</servlet-name>
        <servlet-class>ContMagasins</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContMagasins</servlet-name>
        <url-pattern>/ContMagasins</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Erreur404</servlet-name>
        <servlet-class>Erreur404</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Erreur404</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/Index</welcome-file>
    </welcome-file-list>

</web-app>
